.prev-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--second-color);
  color: var(--ligh-brown);
  text-transform: capitalize;
  text-align: center;
  overflow: hidden;
  font-size: 2rem;
}
.prev-note button {
  border: none;
  font-size: inherit;
  background-color: transparent;
  color: var(--ligh-brown);
  cursor: pointer;
}

.prev-note__title {
  text-transform: uppercase;
}

.prev-note__edit {
  display: inline-block;
  position: relative;
}

.prev-note__delete {
  text-shadow: 0 8px 2px rgba(0, 0, 0, 0.156);
  transition: transform 2s;
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}
.prev-note__delete:hover, .prev-note__delete:focus {
  outline: none;
  animation-play-state: running;
}

.prev-note__content {
  transition: flex-basis 0.5s, opacity 0.5s;
  opacity: 0;
  overflow: hidden;
  flex-basis: 0px;
}

.prev-note:hover .prev-note__content,
.prev-note:focus .prev-note__content {
  opacity: 1;
  flex-basis: 70px;
}

.logo-text {
  display: inline-block;
  position: relative;
  transform: translateY(-60%);
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4vh;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.614);
  cursor: pointer;
}

.logo-text span {
  display: inline-block;
  position: absolute;
  transform: translateY(32%);
  color: var(--dark-red);
  font-size: 7vh;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(139, 0, 0, 0.614);
  text-transform: uppercase;
}

html {
  --padding: 1rem;
  --half-padding: 0.5rem;
  --margin: 2rem;
  --shadow: 0 0 5px rgba(0, 0, 0, 0.322);
  --prim-color: rgb(246, 164, 64);
  --second-color: bisque;
  --ligh-brown: rgb(209, 84, 16);
  --green: rgb(22, 99, 22);
  --dark-red: rgb(170, 5, 5);
}

nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin);
  font-family: "Courier New", Courier, onospace;
  text-transform: uppercase;
  background-color: var(--prim-color);
  box-shadow: 0 5px 6px 0px white;
}

.nav-index__links {
  display: flex;
  gap: var(--margin);
  justify-items: flex-start;
  font-size: 2rem;
}
.nav-index__links a {
  padding: 1rem;
  color: white;
  text-shadow: var(--shadow);
  text-emphasis: open;
  transition: text-shadow 0.2s;
}
.nav-index__links a:active,
.nav-index__links a:hover,
.nav-index__links a:focus {
  outline: none;
  text-shadow: 0px 0px 5px #fff;
  text-emphasis: circle;
}

.nav-index__user {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 3rem;
  border-radius: 100%;
  background-color: var(--second-color);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.123);
  cursor: pointer;
}

.edit__icon {
  color: var(--ligh-brown);
  text-shadow: 0 10px 2px rgba(0, 0, 0, 0.156);
  transform: rotateY(180deg);
  transition: transform 0.3s;
  overflow: hidden;
}

.edit__line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: rgb(194, 113, 8);
  transform: translateX(100%);
  transition: transform 0.3s;
}

.date-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: var(--dark-red);
}

.body-notes {
  display: grid;
  grid-template-rows: 10vh 1fr;
  min-height: 100vh;
}

.main-notes {
  display: grid;
  place-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  width: 400px;
  height: 400px;
  background-color: green;
  align-items: center;
  justify-content: center;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  overflow: visible;
  border-radius: 50%;
}

[class^=notes] {
  background-color: yellow;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  clip-path: polygon(50% 0%, 50% 0%, 0% 100%, 100% 100%);
}

@keyframes span {
  0% {
    transform: rotate(0deg) translate(200px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(200px) rotate(-360deg);
  }
}
#side-notes {
  display: grid;
  gap: var(--margin);
  padding: var(--padding);
  background-color: var(--prim-color);
  border-top: 5px solid var(--prim-color);
  border-bottom: 5px solid var(--prim-color);
  outline: 2px solid var(--ligh-brown);
  overflow-y: scroll;
}

#side-notes:focus {
  outline: 2px solid black;
}

#side-notes__list {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.add-note {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
  background-color: var(--prim-color);
  outline: 2px solid var(--ligh-brown);
  transition: outline 0.2s;
}

.add-note:focus-visible {
  outline: 2px solid black;
}

.add-note__title {
  border-top: 3px solid var(--ligh-brown);
}

.add-note input,
.add-note textarea {
  padding: 1rem 2rem 0;
  box-sizing: border-box;
  grid-column: 1/2;
  font-family: serif;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.365);
}

.add-note input {
  width: 100%;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  background-color: inherit;
  border: none;
}

.add-note input:focus {
  outline: none;
}

#add-note__title {
  grid-column: 1/-1;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--ligh-brown);
}

#add-note__content {
  width: inherit;
  padding: 1rem 2rem 0;
  font-size: 2rem;
  background-color: inherit;
  text-transform: capitalize;
  border: none;
  resize: none;
}

#add-note__content:focus {
  outline: none;
}

#add-note__time {
  text-transform: uppercase;
}

.add-note__nav {
  grid-column: 2/-1;
  grid-row: 1/-1;
  padding: var(--padding);
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  color: var(--dark-red);
  font-size: 2rem;
  background-color: var(--prim-color);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.548), var(--prim-color));
  text-shadow: 0 0 15px rgba(139, 0, 0, 0.6);
  border-left: 2px solid var(--ligh-brown);
}

.body-index {
  display: grid;
  grid-template-rows: 15vh 75vh 10vh;
}

.main-index {
  display: grid;
  grid-template-columns: 1fr 25%;
  justify-content: center;
  column-gap: var(--margin);
  margin: var(--margin);
}

.footer-index {
  grid-column: 1/-1;
}

@media screen and (max-width: 720px) {
  .body-index {
    grid-template-rows: 10vh 80vh 10vh;
  }
  .main-index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20%;
    gap: var(--margin);
  }
  .prev-note:hover .prev-note__content,
  .prev-note:focus .prev-note__content {
    opacity: 1;
    flex-basis: 50px;
  }
}
@media screen and (max-width: 650px) {
  .nav-index__links {
    display: none;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%) rotate(-10deg);
  }
  50% {
    transform: translateX(10%) rotate(10deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.pen-line-in {
  transform: translateX(0%);
}

.pen-in {
  transform: rotateY(180deg) translateX(50%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--second-color);
  font-size: 1.6rem;
}

li {
  list-style-type: none;
  cursor: pointer;
}

footer {
  padding: 1rem;
}

.body-index {
  font-family: serif;
  background-color: var(--second-color);
}

.add-note {
  text-align: center;
}

.add-note__nav {
  color: var(--dark-red);
  font-size: 2rem;
  background-color: var(--prim-color);
  text-shadow: 0 0 15px rgba(139, 0, 0, 0.6);
}

.add-note input,
.add-note textarea {
  font-family: serif;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.365);
}

.add-note input {
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  background-color: inherit;
}

.date-container {
  color: var(--dark-red);
}

#add-note__time {
  text-transform: uppercase;
}

#add-note__content {
  font-size: 2rem;
  text-transform: capitalize;
  background-color: inherit;
}

.footer-index {
  background-color: black;
  color: var(--prim-color);
  text-transform: capitalize;
}

.remove {
  display: none;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
