.add-note {
  width: 75%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  justify-items: stretch;
  align-items: stretch;

  background-color: var(--prim-color);
  transition: outline 0.2s;
  border-radius: 2rem;
  border-bottom-left-radius: 4rem;
  box-shadow: -3px 3px 6px var(--ligh-brown);
  overflow: hidden;
  transition: var(--transition);
}
.add-note:focus-visible {
  outline: 2px solid black;
}
.add-note__title {
  border-top: 3px solid var(--ligh-brown);
}

#add-note__input {
  // padding: 1rem 2rem;
  box-sizing: border-box;
  height: 6ch;
  // grid-column: 1/ 2;
}
#add-note__title {
  width: 100%;

  background-color: inherit;
  border: none;
}
.add-note input {
  // width: auto;
  background-color: inherit;
  border: none;
}
.add-note input:focus {
  outline: none;
}

#add-note__title {
  grid-column: 1 /-1;
  padding-bottom: 2rem;
}
.content-container {
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

.add-note__tag {
  background-color: rgb(236, 216, 65);
}

.content-container {
  display: grid;
  align-items: start;
  align-content: start;
  background-color: inherit;
  outline: none;
  padding: 0 0 1rem 2rem;
}
.point-container {
  margin-bottom: var(--padding);
}
.add-note__heading {
  min-height: 3ch;
  padding-bottom: 1rem;
}
.add-note__content {
  min-height: 3ch;
}

#add-note__input:focus {
  outline: none;
}

.add-note__nav {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  padding: var(--padding);
  display: grid;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--second-color);
  list-style-type: none;
  cursor: pointer;
}
