.add-note {
  width: 75%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  // grid-template-columns: 1fr auto;
  justify-items: stretch;
  align-items: stretch;

  gap: 1rem;

  color: #111010;
  // background-color: var(--prim-color);
  background-color: transparent;
  transition: outline 0.2s;
  // border-radius: 2rem;
  // border-bottom-left-radius: 4rem;
  // box-shadow: -3px 3px 6px var(--ligh-brown);
  overflow: hidden;
  transition: var(--transition);
}
.add-note:focus-visible {
  outline: 2px solid black;
}
.add-note__title {
  border-top: 3px solid var(--ligh-brown);
}

#add-note__input {
  // padding: 1rem 2rem;
  box-sizing: border-box;
  height: 6ch;
  // grid-column: 1/ 2;
}
#add-note__title {
  width: 100%;

  background-color: inherit;
  border: none;
}
.add-note input {
  // width: auto;
  background-color: inherit;
  border: none;
}
.add-note input:focus {
  outline: none;
}

#add-note__title {
  grid-column: 2 /-1;
  margin-block: 2rem;
}
.content-container {
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

.add-note__tag {
  background-color: rgb(236, 216, 65);
}

.content-container {
  display: grid;
  align-items: start;
  align-content: start;
  background-color: inherit;
  outline: none;
  padding: 0 0 1rem 2rem;
}
.add-note__list-item {
  font-size: 2.5rem;
  line-height: 1.7;
}
.point-container {
  // margin-bottom: var(--padding);
  // margin-block: 2rem;
}
.add-note__heading {
  min-height: 3ch;
  margin-top: 3rem;
  margin-bottom: 1rem;
  // padding-block: 2rem;
}
.add-note__content {
  min-height: 3ch;
}

.add-note__list {
  padding: 1rem;
}

#add-note__input:focus {
  outline: none;
}

.add-note__nav {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding: var(--padding);
  // padding-top: 15rem;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0.5rem;
  height: 70%;
  align-self: center;

  // background-color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.535);
  // box-shadow: 0 0 2px 2px white;
  box-shadow: 0 0 7px 2px rgb(142 10 10 / 15%);

  border-radius: 50px;
  list-style-type: none;
  cursor: pointer;
}
