.body-index {
  display: grid;
  grid-template-rows: 15vh 75vh 10vh;
}

.main-index {
  display: flex;
  // grid-template-columns: 1fr 25%;
  // grid-template-rows: 100%;
  justify-content: space-between;
  column-gap: var(--margin);
  margin: var(--margin);
}
.footer-index {
  grid-column: 1/-1;
}
