@media screen and (max-width: 720px) {
  .body-index {
    grid-template-rows: 10vh 80vh 10vh;
  }
  .main-index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20%;
    gap: var(--margin);
  }
  .add-note {
    grid-template-rows: auto 1fr 10%;
    grid-template-columns: 1fr;
    &__nav {
      display: flex;
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  .side-notes {
  }
  .prev-note:hover .prev-note__content,
  .prev-note:focus .prev-note__content {
    opacity: 1;
    flex-basis: 50px;
  }
}
@media screen and (max-width: 650px) {
  .nav-index__links {
    display: none;
  }
}
