html {
  --padding: 1rem;
  --half-padding: 0.5rem;
  --margin: 2rem;
  --prim-color: rgb(246, 164, 64);
  --second-color: bisque;
  --ligh-brown: rgb(209, 84, 16);
  --green: rgb(22, 99, 22);
  --dark-red: rgb(170, 5, 5);
}
