.logo-text {
  display: inline-block;
  position: relative;
  transform: translateY(-60%);

  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4vh;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.614);
  cursor: pointer;
}

.logo-text span {
  display: inline-block;
  position: absolute;
  transform: translateY(32%);

  color: var(--dark-red);
  font-size: 7vh;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(139, 0, 0, 0.614);
  text-transform: uppercase;
}
