@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%) rotate(-10deg);
  }

  50% {
    transform: translateX(10%) rotate(10deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.pen-line-in {
  transform: translateX(0%);
}
.pen-in {
  transform: rotateY(180deg) translateX(50%);
}
.nav-index {
  transition: all 0.1s;
  opacity: 1;
}
.full-view--true {
  transition: all 0.5s;
  opacity: 1;
}
.full-view--false {
  transition: all 0.5s;
  opacity: 1;
}
.main-index {
  transition: height 0.2s;
}
.date-container {
  transition: opacity 0.2s;
}
.footer-index {
  transition: all 0.1s;
  opacity: 1;
}
