.remove {
  display: none;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.flex-grow {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}

.hide-notes-list {
  opacity: 0;
  display: none;
}

.full-view {
  // display: grid;
  height: 100vh;
  & .nav-index {
    opacity: 0;
    height: 2vh;
    padding: 0;
    & > * {
      display: none;
    }
  }
  & .main-index {
    height: 90.8vh;
  }
  & .footer-index {
    opacity: 0;
    height: 4vh;
    & > * {
      display: none;
    }
  }
}
#note__full-view {
  position: relative;
  // background-color: green;
  width: 2.5rem;
  height: 2.5rem;
  & .full-view--true {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & .full-view--false {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.hidden {
  opacity: 0;
}
.span-content {
  opacity: 1;
  flex-basis: 70px;
}
