.body-index {
  font-family: serif;
  background-color: var(--second-color);
}

.add-note {
  text-align: center;
  color: var(--white);
  text-shadow: var(--shadow);
  & *::first-letter {
    text-transform: uppercase;
  }
}

.add-note__nav {
  color: var(--dark-red);
  font-size: 2rem;
  text-shadow: 0 0 15px rgba(139, 0, 0, 0.6);
}

#add-note__title {
  font-family: serif;
  color: inherit;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
  text-shadow: var(--shadow);
  text-transform: capitalize;

  &::placeholder {
    text-transform: capitalize;
  }
}

.date-container {
  color: var(--white);
}

#add-note__time {
  text-transform: uppercase;
}

#add-note__container {
  font-size: 2rem;
}

.add-note__heading {
  color: var(--black);
  text-shadow: var(--shadow);
  text-decoration: underline 1px solid black;
}
.add-note__list {
  list-style-type: decimal;
  text-align: left;
  line-height: 3ch;
  justify-self: center;
}
.footer-index {
  color: var(--prim-color);
  text-transform: capitalize;
}
