html {
  font-size: 62.5%;
  --padding: 1rem;
  --prim-color: rgb(246, 164, 64);
  --second-color: bisque;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6rem;

  display: grid;
  grid-template-rows: 15vh 75vh 10vh;
}

nav {
  grid-column: 1/-1;
  display: flex;
  padding: var(--padding);
  background-color: var(--prim-color);
}

.logo__img {
  width: 10%;
}
main {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: var(--second-color);

  padding: var(--padding);
}
.add-note {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-note__input {
  width: 80%;
  height: 90%;

  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 2rem 0;
  background-color: var(--prim-color);
  border: none;
  outline: 2px solid transparent;

  transition: outline 0.2s;
}
.add-note__input:focus {
  outline: 2px solid black;
}
.add-note__pluse {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30%;
  max-height: 50%;

  padding: 2rem;
  font-size: 15rem;
  color: var(--prim-color);
  text-shadow: 5px 5px rgba(246, 164, 64, 0.616);

  border: 2px dashed var(--prim-color);

  display: none;
}

aside {
  padding: var(--padding);
  overflow-y: auto;
  background-color: var(--prim-color);
}

.prev-note {
  background-color: var(--second-color);

  padding: 1rem 0.5rem;
  margin-block: 1rem;

  text-transform: capitalize;
}
footer {
  grid-column: 1/-1;
  background-color: black;
  color: var(--prim-color);
}
